@{
    ViewData["Title"] = "Contatos";
}

<div class="text-center">
    <h1 class="display-4">Contato</h1>
    <p>Email : dannymarinifox@gmail.com</p>
    <p>Phone : +55 11 95381-5461</p>
    <p>Linkedin :<a href="https://www.linkedin.com/in/danniele-marini-5b962597/">/danniele-marini-5b962597</a></p>
    <p>GitHub :<a href="https://github.com/Sizamux">/Sizamux</a></p>
</div>
